{% with messages = get_flashed_messages() %} {% if messages %} {% for message in
messages %}
<p>{{message}}</p>
{% endfor %} {% endif %} {% endwith %}


<form action="/add_mascota">
  <input type="text" name="nombre" placeholder="nombre" />
  <input type="text" name="id_usuario" placeholder="id_usuario" />
  <input type="text" name="sexo" placeholder="sexo" />
  <input type="text" name="tamaño" placeholder="tamaño" />
  <input type="text" name="fecha_nacimiento" placeholder="fecha_nacimiento" />
  <input type="submit" value="submit" />
</form>

<form action="/add_tipo_cedula" method="POST">
  <input type="text" name="tipo_documento" placeholder="nuevo tipo de cedula" />
  <button type="submit">Save</button>
</form>
<form action="/add_rol" method="POST">
  
  <input type="text" name="descripcion" placeholder="nuevo rol" />
  <button type="submit">Save</button>
</form>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Tipo</th>
    </tr>
  </thead>
  <tbody>
    {% for tipo in tipos %}
    <tr>
      <td>{{tipo.0}}</td>
      <td>{{tipo.1}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
