aniso8601==9.0.1
appdirs==1.4.4
bcrypt==3.2.0
blueprint==3.4.2
cryptography==35.0.0
distlib==0.3.3
distro==1.6.0
dnspython==2.1.0
Flask==2.0.2
Flask-MySQL==1.5.2
Flask-MySQLdb==0.2.0
Flask-RESTful==0.3.9
flask-restful-swagger-2==0.35
Flask-SQLAlchemy==2.5.1
flask-swagger-ui==3.36.0
html5lib==1.1
idna==3.3
importlib-metadata==4.8.1
itsdangerous==2.0.1
Jinja2==3.0.3
libinput-gestures-qt==0.4
Markdown==3.3.6
MarkupSafe==2.0.1
msgpack==1.0.2
mysqlclient==2.1.0
nftables==0.1
ordered-set==4.0.2
packaging==20.9
pep517==0.12.0

