{% extends "layout.html" %}
{% block body %}
<!-- Creando la historia de una mascota -->
<!--id_mascota usuario empleado fecha_creacion estado -->
<section class="container">
    <div class="columns is-multiline">
      <div class="column is-6 is-offset-2 register">
        <div class="columns">
          <div class="column right has-text-centered">
            <h1 class="title is-4">Añadir Historia</h1>
            <form action="/vista_veterinario/{{name}}/add_historia" method="POST">
            </br>
                <div class="field">
                    <div class="control">
                    <input type="text" name="id_mascota" placeholder="id_mascota" />
                    </div>
                </div>
            </br>
            <div class="field">
                <div class="control">
                    <div class="col-md-12">
                        <label for="validationServer01" style="text-align: right!important;">Fecha de creación de la historia</label>
                        <input class="form-control" name = "fecha_historia" required type="date" placeholder="date">
                    </div>
                </div>
            </div>
        </br>
              <button type="submit">Save</button>
              <br />
            </form>
          </div>
        </div>
      </div>
     
    </div>
  </section>



{%endblock%}