{% extends "/usuariot/cliente.html" %}
{% block table %}
<!-- Añadir mascota -->
<!-- i	id_raza	id_usuario	id_color	nombre	sexo	peso	fecha_nacimiento	estado	Eliminar -->
<form action="/mascota/get_especie">
    
</form>
<form action="/vista_cliente/{{username}}/add_mascota" method="POST">
    <input type="text" name="nombre" placeholder="Nombre" />
    <input type="text" name="sexo" placeholder="sexo"/>
    <input type="text" name="peso" placeholder="peso"/>
    <input type="text" name="fecha_nacimiento" placeholder="fecha_nacimiento"/>
    <input type="text" name="estado" placeholder="estado"/>
    <div>
        <select name="tipo_documento">
            {% for tipo_documento in tdocumentos %}
            <option value="{{tipo_documento.0}}">{{tipo_documento.1}}</option>
            {% endfor %}
          </select>
    </div>
    <div>
        <select name="tipo_documento">
            {% for tipo_documento in tdocumentos %}
            <option value="{{tipo_documento.0}}">{{tipo_documento.1}}</option>
            {% endfor %}
          </select>
    </div>
    <button type="submit">Save</button>
</form>


{% endblock %}
