{% extends "/usuariot/cliente.html" %} {% block table %}
<!-- Añadir mascota -->
<!-- i	id_raza	id_usuario	id_color	nombre	sexo	peso	fecha_nacimiento	estado	Eliminar -->
<section class="container">
  <div class="columns is-multiline">
    <div class="column is-8 is-offset-2 register">
      <div class="columns">
        <div class="column right has-text-centered">
          <h1 class="title is-4">Añadir Mascota</h1>
          <form action="/cliente/{{name}}/add_mascota" method="POST">
            <div class="field">
              <div class="control">
                <input type="text" name="nombre" placeholder="Nombre de la mascota" />             
                <input type="hidden" name="user_name" value="{{name}}"/>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input type="text" name="sexo" placeholder="sexo" />
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input type="text" name="peso" placeholder="peso" />
              </div>
            </div>
            <div class="col-md-12">
              <label for="validationServer01" style="text-align: right!important;">Fecha de nacimiento</label>
              <input class="form-control" name = "fecha_nacimiento" required type="date" placeholder="date">
            </div>
            <div class="field">
              <div class="control">
                <select name="id_especie" >
                  {% for especie in especies %}
                  <option value="{{especie.0}}">{{especie.1}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <select name="id_color">
                  {% for color in colores %}
                  <option value="{{color.0}}">{{color.1}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <select name="id_raza">
                  {% for raza in razas %}
                  <option value="{{raza.1}}">{{raza.2}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <button type="submit">Save</button>
            <br />
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"> </script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>flatpickr("#myID", {})</script>
{% endblock %}
