
{% extends "layout.html" %}
{% block body %}
<!--Agregando un servicio-->
<!--nombre descripcion costo iva estado -->
<section class="container">
    <div class="columns is-multiline">
      <div class="column is-8 is-offset-2 register">
        <div class="columns">
          <div class="column right has-text-centered">
            <h1 class="title is-4">Añadir Servicio</h1>
            <form action="/vista_cliente/{{username}}/add_servicio" method="POST">
              <div class="field">
                <div class="control">
                  <input type="text" name="nombre" placeholder="Nombre" />
                </div>
              </div>
            </br>
                <div class="field">
                    <div class="control">
                    <input type="text" name="descripcion" placeholder="Descripcion" />
                    </div>
                </div>
            </br>
                <div class="field">
                    <div class="control">
                    <input type="text" name="costo" placeholder="Costo" />
                    </div>
                </div>
            </br>
                <div class="field">
                    <div class="control">
                    <input type="text" name="iva" placeholder="Iva" />
                    </div>
                </br>
              <div class="field">
                <div class="control">
                <label for="" class="form-label">Tipo de servicio</label>
                  <select name="tipo">
                    {% for tipo in tipos %}
                        <option value="{{tipo.0}}">{{tipo.1}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <button type="submit">Save</button>
              <br />
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}