{% extends "layout.html" %}
{%block links%}
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/15181efa86.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
<link rel="stylesheet" type="text/css" href="../css/register.css">
{% endblock %}

{% block body %}
<div class="container">
  <div>
  <form action='/vista_cliente/{{name}}/add_mascota' method="GET">
    <button style="width: 140px;"  type="submit"  >add mascota</button>
  </form>
  </div>
  </br>

  <div>
  <form action='/vista_cliente/{{name}}/ver_mascotas' method="GET">
      <button style="width: 140px;border-bottom: 15px;" type="submit" >Ver mascotas</button>
  </form>
  </div>

</br>


{% block table %} {%endblock%}

{% endblock %}
</div>