{% extends "/usuariot/cliente.html" %} {% block table %}
<!--
Añadiendo datos basicos de una mascota
id
id_raza
id_usuario
id_color
nombre
sexo
peso
fecha_nacimiento
estado-->

<div>
  <h1 class="title is-4">Mis mascotas >></h1>
  <table>
    <thead>
      <tr>
        <th >id mascota_</th>
        <th >cliente_</th>
        <th>raza_</th>
        <th>color_</th>
        <th>nombre_</th>
        <th>sexo_</th>
        <th>peso_</th>
        <th>fecha_nacimiento_</th>
        <th>Historia</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      {% for mascota in mascotas %} {% if mascota.8 == 1 %}
      <tr>
        <td>|{{mascota.0}}|</td>
        <td>|{{mascota.1}}|</td>
        <td>|{{mascota.2}}|</td>
        <td>|{{mascota.3}}|</td>
        <td>|{{mascota.4}}|</td>
        <td>|{{mascota.5}}|</td>
        <td>|{{mascota.6}}|</td>
        <td>|{{mascota.7}}|</td>
        <td>
          <form action="  " method="post">
            <input type="submit" value=" Historia " />
          </form>
        </td>
        <td>
          <form action=" /vista_cliente/{{mascota.1}}/delete_mascota/{{mascota.0}} " method="post">
            <input type="submit" value="Eliminar" />
          </form>
        </td>
      </tr>

      {% endif %} {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
