{% extends "layout.html" %}
{% block body %}
<form action='/admin/{{name}}/servicio' method="GET">
    <button style="width: 140px; margin-left: 10%;"  type="submit"  >add servicio</button>
</form>
</br>
<form action='/admin/{{name}}/usuarios' method="GET">
    <button style="width: 140px; margin-left: 10%;"  type="submit"  >ver usuarios</button>
</form>
</br>
<form action='/admin/{{name}}/raza' method="GET">
    <button style="width: 140px; margin-left: 10%;"  type="submit"  >raza</button>
</form>
</br>
<form action='/admin/{{name}}/color' method="GET">
    <button style="width: 140px; margin-left: 10%;"  type="submit"  >color</button>
</form>
</br>
<form action='/admin/{{name}}/metodo_pago' method="GET">
    <button style="width: 200px; margin-left: 10%;"  type="submit"  >metodo de pago</button>
</form>
</br>
<form action=" /admin/{{name}}/nueva_historia" method="GET">
    <button type="submit" style = "width:200px; margin-left: 10%;"method = "POST"id="login_btn"class="btn btn-primary">Historia</button>
</form>
</br>
<form action=" /admin/{{name}}/add_veterinario" method="GET">
    <button type="submit" style = "width:200px; margin-left: 10%;"method = "POST"id="login_btn"class="btn btn-primary">Añadir Veterinario</button>
</form>
</br>

<form action='/admin/{{name}}/cargar_excel' method="GET">
    <button style="width: 200px; margin-left: 10%;"  type="submit"  >cargar excel</button>
</form>
</br>
{% endblock %}