{% extends "layout.html" %}
{% block body %}
<h1>
    Aqui puedes ver las facturas de la mascota
</h1>
<!--Viendo las facturas
id id_historia id_pago estado fecha descuento total-->

<div >
    <table class= "table table-dark">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">ID Historia</th>
            <th scope="col">ID Pago</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha</th>
            <th scope="col">Descuento</th>
            <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}
